---
import Layout from "../../layout/Layout.astro";
import { getCollection } from "astro:content";

const docs = await getCollection("docs");
---

<Layout title="Docs">
	<h1 class="text-2xl font-bold mb-4">Documentação</h1>
	<ul class="space-y-2">
		{docs.map((doc) => (
			<li>
				<a href={`/docs/${doc.id}`} class="text-blue-500 hover:underline">
					{doc.id}
				</a>
			</li>
		))}
	</ul>
</Layout>
